version: "3.8"

services:
    nodeserver:
        build:
            context: ./app
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
    nginx:
        restart: always
        build:
            context: ./nginx
            dockerfile: Dockerfile
        ports:
            - "80:80"
        depends_on:
            - nodeserver
